/src/dinero

# Meson
**/build

# Gettext
po/POTFILES
po/POTFILES-py
po/POTFILES-webdoc
po/stamp-po
po/stamp-it
po/*.gmo
po/*.mo
po/*.sed

#Anjita IDE
/.anjuta_sym_db.db
/.anjuta
/Debug

#SublimeText
/*.sublime*


#Temp files
*.c~
*.h~
*.glade~

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su